<a href="https://colab.research.google.com/github/n8mcdunna/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/module1-python-modules-packages-and-environments/DS311_testing_pypi_package.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Testing pypi package that I created

In [ ]:
!pip install -i https://test.pypi.org/simple/ lambdata-n8mcdunna==0.0.1

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-n8mcdunna==0.0.1
  Downloading https://test-files.pythonhosted.org/packages/56/fe/bb436ec90f92a6ab48c4871d429344da9b5b482add6b59dd88a3ee4bc9e5/lambdata_n8mcdunna-0.0.1-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from lambdata-n8mcdunna==0.0.1) (1.1.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lambdata-n8mcdunna==0.0.1) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-n8mcdunna==0.0.1) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->lambdata-n8mcdunna==0.0.1) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->lambdata-n8mcdunna==0.0.1) (1.15.0)
Installing collected packages: lambdata-n8mcdunna
Successfully installed lambdata-n8mcdunna-0.0.1

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from lambdata import example_module as em

In [ ]:
df = pd.DataFrame([[np.NaN, 1], [8, 99]])

In [ ]:
em.number_of_nulls(df)

1

In [ ]:
em.add_list_to_df(em.FAVORITE_NUMS, df)

     0   1  new col
0  NaN   1        9
1  8.0  99       14